*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: sans-serif;
}

.container{
    margin: 10px auto;
    min-height: 100px;
    max-width: 50%;
    line-height: 100px;
    background-color:palegoldenrod;
    border-radius: 20px;

    text-align: center;
    font-weight: bold;
    box-shadow: 0 0 10px #b3b2b2;
}