*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: sans-serif;
}

.box{
    margin: 20px auto;
    padding: 30px 0;
    min-height: 100px;
    max-width: 50%;
   
    background-color:#0dcaf0;
    border-radius: 20px;

    text-align: center;
    font-weight: bold;
    box-shadow: 0 0 10px #b3b2b2;
}

th,td{
    padding: 10px;
    border: 1px solid;
}